<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css", "~/bundles/bootstrap")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Twilio IVR Designer</a>
      <ul class="nav">
        <li class="active"><a href="@Url.Action("Index", "Designer")">Designer</a></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    @RenderBody()
  </div>

  @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/jslibs")
  @RenderSection("scripts", required: false)
</body>
</html>
